@font-face {
    font-family: Lato;
    src: url(lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    src: url(lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Aller;
    src: url(Aller/Aller_Rg.ttf);
}

@font-face {
    font-family: Aller;
    font-weight: bold;
    src: url(Aller/Aller_Bd.ttf);
}

body {
    font-family: Aller, courier, Arial, sans-serif !important;
}

#tunes-container {
    padding: 0;
}

.tune-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tune-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.tune-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;

    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.tune-item * {
    vertical-align: middle;
    line-height: 30px;
}

.tune-item .tune-score {
    order: 1;
    flex-grow: 1;
    flex-basis: 30px;
}

.tune-item .tune-name {
    order: 2;
    flex-grow: 2;
    flex-basis: 100px;
    font-weight: bold;
}

.tune-item .tune-audio {
    order: 3;
    flex-grow: 3;
    text-align: center;
}

.tune-item > a {
    order: 4;
    flex-grow: 1;

    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #007095;
}

.tune-item > a::after {
    content: 'vote';
}

.tune-item > a:hover {
    background-color: greenyellow;
}

.tune-item > a:active {
    background-color: green;
}

#upload-area {
    position: relative;
    width: 100%;
    height: 40px;
    display: inline-block;
    padding: 0;
}

#upload-area > a {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 16px;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #007095;
    /* minus padding left and right minus four 1px borders */
    width: calc(20% - 32px - 4px);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#upload-area > input[type="file"] {
    display: none;
}

#upload-area > input[type="text"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    height: 33px;
    width: 80%;
}