@font-face {

    font-family:        Lato;
    src:                url(lato/Lato-Regular.ttf);
}

@font-face {

    font-family:        Lato;
    font-weight:        bold;
    src:                url(lato/Lato-Bold.ttf);
}

@font-face {

    font-family:        Lato;
    font-weight:        light;
    src:                url(lato/Lato-Light.ttf);
}

@font-face {

    font-family:        Lato;
    font-weight:        lighter;
    src:                url(lato/Lato-Thin.ttf);
}

h3 {
    font-size:          1em;
    margin: 0;
}

body {

    font-family:        Lato, courier, Arial, sans-serif;
    font-weight:        light;
}

p {
    font-weight:        none;
}

.hidden {
    display: none;
}

.tiny {
    font-size:          0.5em;
    font-weight:        lighter;
    color:              #aaa;
}

.small {
    font-size:          0.8em;
    font-weight:        lighter;
}

.lookit {
    color:              orange;
}

ul.rules {
    list-style-type:    binary;
    margin:             5px 0;
}

/* TABLE */

#tunes-container {

    padding:            0;
}

.tune-item:first-child {

    border-radius:      4px 4px 0 0;
}

.tune-item:last-child {

    border-radius:      0 0 4px 4px;
}


/* ROWS */

.tune-item {

    position:           relative;

    display:            flex;
    flex-direction:     row;
    flex-wrap:          nowrap;
    align-items:        center;
    padding:            10px 15px;
    margin-bottom:      -1px;
    border:             1px solid #ddd;

    background-color:   #fff;
}

.tune-item > * {
    margin: 0 5px 0 5px;
}

.tune-item .tune-score {

    order:              1;
    border:             1px solid #ccc;
    height:             40px;
    min-width:              40px;
    border-radius:      4px;
    margin-right:       20px;
    box-shadow:         inset 0 0 2px 0 #ccc;
    padding:            ;

    text-align:         center;
    font-weight:        normal;
    font-size:          1.3rem;
}

.tune-item .tune-score::after {

    display:            block;

    font-weight:        lighter;
    line-height:        0.8rem;
    font-size:          0.7rem;

    content:            'votes';
}

.tune-item .tune-name {

    order:              2;
    flex-grow:          2;
    flex-basis:         100px;

    font-size:          0.8rem;
    line-height:        1rem;
}

.tune-item .tune-audio {

    order:              3;
    text-align:         center;
    flex-basis:         350px;
}

.tune-item > a {

    order:              4;
    border-radius:      4px;
    padding:            6px 3%;
}

.tune-item > .button::after {

    content:            'Vote';
}

/* UPLOAD BOX */

#upload-area {

    position:           relative;

    width:              100%;
    height:             40px;
    display:            inline-block;
    padding:            0;
}

#upload-area > .button {

    position:           absolute;
    right:              0;
    bottom:             0;
    padding:            6px 10px;
                        /* width - h paddings - h borders */
    width:              calc(20% - 20px - 4px);
    border-radius:      0 4px 4px 0;
}

#upload-area > input[type="file"] {

    display: none;
}

#upload-area > input[type="text"] {

    position:           absolute;
    left:               0;
    bottom:             0;

    border-radius:      4px 0 0 4px;
    border-style:       solid;
    border-width:       1px;
    border-color:       #ccc;
    width:              80%;
    height:             26px;
    padding-left:       10px;

    font-family:        arial, sans-serif;
    font-size:          0.8rem;
}


/* BUTTONS */

.button {

    border-style:       solid;
    border-width:       1px;

    color:              white;
    background-color:   rgba(35, 112, 180, 0.9);
    border-color:       rgba(35, 112, 180, 1);

    text-align:         center;
    font-size:          0.8rem;

    cursor:             pointer;
    transition:         background-color 0.3s ease;
}

.button:hover {

    background-color:   rgba(35, 112, 180, 0.7);
}

.button:active {

    background-color:   rgba(15, 92, 160, 1);
}

/* MISC */

.winner > .tune-name::after {

    content:        '♕ wins';

    float:          right;

    padding-right:   10%;

    color:          orange;
}

.play-time {
    color: green;
}