@font-face {
    font-family: Lato;
    src: url(lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    src: url(lato/Lato-Bold.ttf);
}

body {
    font-family: Lato, Helvetica, Arial, sans-serif !important;
}

#tunes-container {
    padding: 0;
}

.tune-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;

    display: flex;
    flex-direction: row
    flex-wrap: no-wrap;
}

.tune-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tune-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}


.tune-item .tune-score {
    order: 1;
    margin: auto;
    flex-grow: auto;
    flex-basis: 30px;
}

.tune-item .tune-name {
    order: 2;
    margin: auto;
    flex-grow: auto;
    flex-basis: 100px;
}

.tune-item .tune-audio {
    order: 3;
    margin: auto;
    flex-grow: 3;
    flex-basis: 100px;
    text-align: center;
}

.tune-item > a {
    order: 4;
    margin: auto;
    flex-grow: auto;
    flex-basis: 30px;

    border-radius: 30px;
    border-width: 0px;
    cursor: pointer;
    text-align: center;
    background-color: #008cba;
    border-color: #007095;
    color: white;
    padding: 3px;
    line-height: 30px;
}

/* TODO flex box it */
#upload-area {
    position: relative;
    width: 100%;
    height: 40px;
    display: inline-block;
    padding: 0;
}

#upload-area > a {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    background-color: #008cba;
    border-color: #007095;
    color: white;
    font-weight: lighter;
    width: 20%;
}

#upload-area > input[type="file"] {
    display: none;
}

#upload-area > input[type="text"] {
    position: absolute;
    left: 0;
    bottom: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    height: 30px;
    width: 80%;
}